<footer>
    <div id="footer-wrapper">
        <div id="footer-content">
            <div id="footer-content-column">
                <div>
                    <!-- h3 class="font-bold">About</h3 -->
                    <p>
                        © {{ now.Year }} {{ .Site.Title}}
                    </p>
                </div>
            </div>

            <div id="footer-content-column">
                <div>
                    <!-- h3 class="font-bold">Social</h3 -->
                    <ul class="list-reset">
                        {{ with .Site.Params.Social.github }}
                        <li>
                            <a class="hover:text-underline" href="{{ . }}">
                                GitHub&nbsp;
                                <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"
                                    viewBox="0 0 24 24" height="12" width="12">
                                    <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                                    <path d="M15 3h6v6"></path>
                                    <path d="M10 14L21 3"></path>
                                </svg>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.Social.telegram }}
                        <li>
                            <a class="hover:text-underline" href="{{ . }}">
                                Telegram&nbsp;
                                <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"
                                    viewBox="0 0 24 24" height="12" width="12">
                                    <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                                    <path d="M15 3h6v6"></path>
                                    <path d="M10 14L21 3"></path>
                                </svg>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.Social.instagram }}
                        <li>
                            <a class="hover:text-underline" href="{{ . }}">
                                Instagram&nbsp;
                                <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"
                                    viewBox="0 0 24 24" height="12" width="12">
                                    <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                                    <path d="M15 3h6v6"></path>
                                    <path d="M10 14L21 3"></path>
                                </svg>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.Social.twitter }}
                        <li>
                            <a class="hover:text-underline" href="{{ . }}">
                                Twitter&nbsp;
                                <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"
                                    viewBox="0 0 24 24" height="12" width="12">
                                    <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                                    <path d="M15 3h6v6"></path>
                                    <path d="M10 14L21 3"></path>
                                </svg>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.Social.linkedin }}
                        <li>
                            <a class="hover:text-underline" href="{{ . }}">
                                LinkedIn&nbsp;
                                <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"
                                    viewBox="0 0 24 24" height="12" width="12">
                                    <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                                    <path d="M15 3h6v6"></path>
                                    <path d="M10 14L21 3"></path>
                                </svg>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>