baseURL = 'https://sibirtsev.com/'
languageCode = 'ru-RU'
title = 'Alexey Sibirtsev'
theme = 'SiberianCoder'
googleAnalytics = "G-FYR06ENQX2"
enableRobotsTXT = true

defaultContentLanguage = 'ru'
# defaultContentLanguageInSubdir = true
# disableDefaultLanguageRedirect = false


[markup.goldmark.renderer]
unsafe = true

[pagination]
pagerSize = 5

[taxonomies]
  tag = "tags"
  category = "categories"

[params]
  description = "Личный сайт Алексея Сибирцева: посты, заметки и проекты."
  images = ["/apple-touch-icon.png"]
  logo = "/favicon-32x32.png"
  author = "Alexey Sibirtsev"
  # twitter handles in @format
  twitterSite = ""
  twitterCreator = ""
  # set to true to noindex the whole site (overridden per page by params.noindex)
  noindex = false
[params.social]
  github = "https://github.com/Sibirtsev"
  telegram = "https://t.me/read_run_play"
  twitter = ""
  linkedin = "https://www.linkedin.com/in/alexeysibirtsev/"
  instagram = "https://www.instagram.com/sibirtsev/"

[[params.links]]
  name = "Guitar helper"
  url = "https://sixstringsapp.com/"

[languages]
  [languages.ru]
    contentDir = 'content/ru'
    disabled = false
    languageCode = 'ru-RU'
    languageDirection = 'ltr'
    languageName = 'Русский'
    title = 'Алексей Сибирцев'
    weight = 1

    [languages.ru.menu]
      [[languages.ru.menu.main]]
      name = "Портфолио"
      url = "/portfolio/"
      weight = 1

      [[languages.ru.menu.main]]
      name = "Посты"
      url = "/posts/"
      weight = 2

      [[languages.ru.menu.main]]
      name = "Ютуб"
      url = "https://www.youtube.com/@alexey.sibirtsev"
      weight = 3

  [languages.en]
    contentDir = 'content/en'
    disabled = true
    languageCode = 'en-US'
    languageDirection = 'ltr'
    languageName = 'English'
    title = 'Alexey Sibirtsev'
    weight = 2
    [languages.en.menu]
      [[languages.en.menu.main]]
      name = "Portfolio"
      url = "/en/portfolio/"
      weight = 1

      [[languages.en.menu.main]]
      name = "Posts"
      url = "/en/posts/"
      weight = 2

      [[languages.en.menu.main]]
      name = "Youtube"
      url = "https://www.youtube.com/@alexey.sibirtsev"
      weight = 3

  [languages.de]
    contentDir = 'content/de'
    disabled = true
    languageCode = 'de-DE'
    languageDirection = 'ltr'
    languageName = 'Deutsch'
    title = 'Alexey Sibirtsev'
    weight = 3
    [languages.de.menu]
      [[languages.de.menu.main]]
      name = "Beiträge"
      url = "/de/posts/"
      weight = 2

[markup]
  [markup.highlight]
    codeFences = true
    guessSyntax = true
    style = "github"
    lineNos = false
    lineNumbersInTable = false
    noClasses = false
  [markup.tableOfContents]
    startLevel = 1
    endLevel = 6
    ordered = false

[sitemap]
  changefreq = "monthly"
  priority = 0.5
  filename = "sitemap.xml"

[build]
  [build.buildStats]
    enable = true
  [[build.cachebusters]]
    source = 'assets/notwatching/hugo_stats\.json'
    target = 'css'
  [[build.cachebusters]]
    source = '(postcss|tailwind)\.config\.js'
    target = 'css'
[module]
  [[module.mounts]]
    source = 'assets'
    target = 'assets'
  [[module.mounts]]
    disableWatch = true
    source = 'hugo_stats.json'
    target = 'assets/notwatching/hugo_stats.json'
  [[module.mounts]]
    source = 'static'
    target = 'static'
